#title-text{
    text-align: center;
    font-size: 40px;
}
.body{
    text-align: center;
}
#exeLearning{
    width: 80px;
    height: 40px;
}
.foot{
    text-align: center;
}
#result{
    margin-top: 60px;
    font-size: 30px;
}